#slider {
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
    overflow: hidden;
}
#slider .slides {
    display: flex;
    transition: transform 0.3s;
}

#controls {
    display: flex;
}

#controls div{
    margin: 10px;
}
