#board {
    border-width: 0.1rem;
    border-style: solid;
    border-color: black;
}

.info_box {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    width: 800px;
}

.info {
    margin-right: 4rem;
}